<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Zen Coding"
            id="ru.zencoding.eclipse.commands.category">
      </category>
      <command
            name="Expand Abbreviation"
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.expandAbbreviationCommand">
      </command>
      <command
            name="Match Pair"
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.matchPairCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ru.zencoding.eclipse.commands.expandAbbreviationCommand"
            class="ru.zencoding.eclipse.handlers.ExpandAbbreviationAction">
      </handler>
      <handler
            commandId="ru.zencoding.eclipse.commands.matchPairCommand"
            class="ru.zencoding.eclipse.handlers.DefaultAction">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ru.zencoding.eclipse.commands.expandAbbreviationCommand"
            contextId="org.eclipse.ui.textEditorScope"
            sequence="M1+E"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Zen Coding"
               mnemonic="Z"
               id="ru.zencoding.eclipse.menus.zencodingMenu">
            <command
                  commandId="ru.zencoding.eclipse.commands.expandAbbreviationCommand"
                  mnemonic="E"
                  id="ru.zencoding.eclipse.menus.expandAbbreviationCommand">
            </command>
            <command
                  commandId="ru.zencoding.eclipse.commands.matchPairCommand"
                  mnemonic="M"
                  id="ru.zencoding.eclipse.menus.matchPairCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
	<extension point="org.eclipse.ui.startup">
		<startup class="ru.zencoding.eclipse.Startup"/>
	</extension>

</plugin>
