<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Zen Coding"
            id="ru.zencoding.eclipse.commands.category">
      </category>
      <command
            name="Expand Abbreviation"
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.expandAbbreviationCommand">
      </command>
      <command
            name="Match Pair Outward"
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.match_pair_outward">
      </command>
      <command
            name="Match Pair Inward"
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.match_pair_inward">
      </command>
      <command
            name="Wrap With Abbreviation..."
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.wrap_with_abbreviation">
      </command>
      <command
            name="Previous Edit Point"
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.prev_edit_point">
      </command>
      <command
            name="Next Edit Point"
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.next_edit_point">
      </command>
      <command
            name="Go to Matching Pair"
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.matching_pair">
      </command>
      <command
            name="Merge Lines"
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.merge_lines">
      </command>
      <command
            name="Toggle Comment"
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.toggle_comment">
      </command>
      <command
            name="Split/Join Tag"
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.split_join_tag">
      </command>
      <command
            name="Remove Tag"
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.remove_tag">
      </command>
      <command
            name="Encode/Decode Data:URL"
            categoryId="ru.zencoding.eclipse.commands.category"
            id="ru.zencoding.eclipse.commands.encode_decode_data_url">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ru.zencoding.eclipse.commands.expandAbbreviationCommand"
            class="ru.zencoding.eclipse.handlers.ExpandAbbreviationAction">
      </handler>
      <handler
            commandId="ru.zencoding.eclipse.commands.match_pair_outward"
            class="ru.zencoding.eclipse.handlers.DefaultAction">
      </handler>
      <handler
            commandId="ru.zencoding.eclipse.commands.match_pair_inward"
            class="ru.zencoding.eclipse.handlers.DefaultAction">
      </handler>
      <handler
            commandId="ru.zencoding.eclipse.commands.wrap_with_abbreviation"
            class="ru.zencoding.eclipse.handlers.WrapWithAbbreviationAction">
      </handler>
      <handler
            commandId="ru.zencoding.eclipse.commands.prev_edit_point"
            class="ru.zencoding.eclipse.handlers.DefaultAction">
      </handler>
      <handler
            commandId="ru.zencoding.eclipse.commands.next_edit_point"
            class="ru.zencoding.eclipse.handlers.DefaultAction">
      </handler>
      <handler
            commandId="ru.zencoding.eclipse.commands.matching_pair"
            class="ru.zencoding.eclipse.handlers.DefaultAction">
      </handler>
      <handler
            commandId="ru.zencoding.eclipse.commands.merge_lines"
            class="ru.zencoding.eclipse.handlers.DefaultAction">
      </handler>
      <handler
            commandId="ru.zencoding.eclipse.commands.toggle_comment"
            class="ru.zencoding.eclipse.handlers.DefaultAction">
      </handler>
      <handler
            commandId="ru.zencoding.eclipse.commands.split_join_tag"
            class="ru.zencoding.eclipse.handlers.DefaultAction">
      </handler>
      <handler
            commandId="ru.zencoding.eclipse.commands.remove_tag"
            class="ru.zencoding.eclipse.handlers.DefaultAction">
      </handler>
      <handler
            commandId="ru.zencoding.eclipse.commands.encode_decode_data_url"
            class="ru.zencoding.eclipse.handlers.DefaultAction">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ru.zencoding.eclipse.commands.expandAbbreviationCommand"
            contextId="org.eclipse.ui.textEditorScope"
            sequence="M1+E"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="ru.zencoding.eclipse.commands.match_pair_outward"
            contextId="org.eclipse.ui.textEditorScope"
            sequence="M1+D"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="ru.zencoding.eclipse.commands.match_pair_inward"
            contextId="org.eclipse.ui.textEditorScope"
            sequence="M1+M2+D"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="ru.zencoding.eclipse.commands.wrap_with_abbreviation"
            contextId="org.eclipse.ui.textEditorScope"
            sequence="M1+M2+A"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="ru.zencoding.eclipse.commands.prev_edit_point"
            contextId="org.eclipse.ui.textEditorScope"
            sequence="M3+CTRL+["
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="ru.zencoding.eclipse.commands.next_edit_point"
            contextId="org.eclipse.ui.textEditorScope"
            sequence="M3+CTRL+]"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="ru.zencoding.eclipse.commands.merge_lines"
            contextId="org.eclipse.ui.textEditorScope"
            sequence="CTRL+M"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="ru.zencoding.eclipse.commands.toggle_comment"
            contextId="org.eclipse.ui.textEditorScope"
            sequence="M1+M2+/"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="ru.zencoding.eclipse.commands.split_join_tag"
            contextId="org.eclipse.ui.textEditorScope"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="ru.zencoding.eclipse.commands.remove_tag"
            contextId="org.eclipse.ui.textEditorScope"
            sequence="M1+M2+I"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="ru.zencoding.eclipse.commands.encode_decode_data_url"
            contextId="org.eclipse.ui.textEditorScope"
            sequence="M2+M3+I"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Zen Coding"
               mnemonic="Z"
               id="ru.zencoding.eclipse.menus.zencodingMenu">
            <command
                  commandId="ru.zencoding.eclipse.commands.expandAbbreviationCommand"
                  mnemonic="E"
                  id="ru.zencoding.eclipse.menus.expandAbbreviationCommand">
            </command>
            <command
                  commandId="ru.zencoding.eclipse.commands.match_pair_outward"
                  mnemonic="M"
                  id="ru.zencoding.eclipse.menus.match_pair_outward">
            </command>
            <command
                  commandId="ru.zencoding.eclipse.commands.match_pair_inward"
                  mnemonic="I"
                  id="ru.zencoding.eclipse.menus.match_pair_outward">
            </command>
            <command
                  commandId="ru.zencoding.eclipse.commands.wrap_with_abbreviation"
                  mnemonic="W"
                  id="ru.zencoding.eclipse.menus.wrap_with_abbreviation">
            </command>
            <command
                  commandId="ru.zencoding.eclipse.commands.prev_edit_point"
                  mnemonic="P"
                  id="ru.zencoding.eclipse.menus.prev_edit_point">
            </command>
            <command
                  commandId="ru.zencoding.eclipse.commands.next_edit_point"
                  mnemonic="N"
                  id="ru.zencoding.eclipse.menus.next_edit_point">
            </command>
            <command
                  commandId="ru.zencoding.eclipse.commands.matching_pair"
                  mnemonic="G"
                  id="ru.zencoding.eclipse.menus.matching_pair">
            </command>
            <command
                  commandId="ru.zencoding.eclipse.commands.merge_lines"
                  mnemonic="R"
                  id="ru.zencoding.eclipse.menus.merge_lines">
            </command>
            <command
                  commandId="ru.zencoding.eclipse.commands.toggle_comment"
                  mnemonic="T"
                  id="ru.zencoding.eclipse.menus.toggle_comment">
            </command>
            <command
                  commandId="ru.zencoding.eclipse.commands.split_join_tag"
                  mnemonic="J"
                  id="ru.zencoding.eclipse.menus.split_join_tag">
            </command>
            <command
                  commandId="ru.zencoding.eclipse.commands.remove_tag"
                  mnemonic="V"
                  id="ru.zencoding.eclipse.menus.remove_tag">
            </command>
            <command
                  commandId="ru.zencoding.eclipse.commands.encode_decode_data_url"
                  mnemonic="U"
                  id="ru.zencoding.eclipse.menus.encode_decode_data_url">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
	<extension point="org.eclipse.ui.startup">
		<startup class="ru.zencoding.eclipse.Startup"/>
	</extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="ru.zencoding.eclipse.preferences.EclipseZenCodingPreferencePage"
          id="ru.zencoding.eclipse.preferences.EclipseZenCodingPreferencePage"
          name="Zen Coding">
    </page>
    <page
          class="ru.zencoding.eclipse.preferences.ZenCodingAbbreviationsPreferencesPage"
          id="ru.zencoding.eclipse.preferences.ZenCodingAbbreviationsPreferencesPage"
          name="Abbreviations"
          category="ru.zencoding.eclipse.preferences.EclipseZenCodingPreferencePage">
    </page>
    <page
          class="ru.zencoding.eclipse.preferences.ZenCodingSnippetsPreferencesPage"
          id="ru.zencoding.eclipse.preferences.ZenCodingSnippetsPreferencesPage"
          name="Snippets"
          category="ru.zencoding.eclipse.preferences.EclipseZenCodingPreferencePage">
    </page>
    
    <page
          class="ru.zencoding.eclipse.preferences.ZenCodingVariablesPreferencePage"
          id="ru.zencoding.eclipse.preferences.ZenCodingVariablesPreferencePage"
          name="Variables"
          category="ru.zencoding.eclipse.preferences.EclipseZenCodingPreferencePage">
    </page>
    
    <!-- Output preferences -->
    <page
          class="ru.zencoding.eclipse.preferences.output.DefaultOutputPreferencePage"
          id="ru.zencoding.eclipse.preferences.OutputPreferencesPage"
          name="Output"
          category="ru.zencoding.eclipse.preferences.EclipseZenCodingPreferencePage">
    </page>
    <page
          class="ru.zencoding.eclipse.preferences.output.HTMLOutputPreferencePage"
          id="ru.zencoding.eclipse.preferences.HTMLPreferencesPage"
          name="HTML"
          category="ru.zencoding.eclipse.preferences.OutputPreferencesPage">
    </page>
    <page
          class="ru.zencoding.eclipse.preferences.output.CSSOutputPreferencePage"
          id="ru.zencoding.eclipse.preferences.CSSPreferencesPage"
          name="CSS"
          category="ru.zencoding.eclipse.preferences.OutputPreferencesPage">
    </page>
    <page
          class="ru.zencoding.eclipse.preferences.output.XMLOutputPreferencePage"
          id="ru.zencoding.eclipse.preferences.XMLPreferencesPage"
          name="XML"
          category="ru.zencoding.eclipse.preferences.OutputPreferencesPage">
    </page>
    <page
          class="ru.zencoding.eclipse.preferences.output.XSLOutputPreferencePage"
          id="ru.zencoding.eclipse.preferences.XSLPreferencesPage"
          name="XSL"
          category="ru.zencoding.eclipse.preferences.OutputPreferencesPage">
    </page>
    <page
          class="ru.zencoding.eclipse.preferences.output.HAMLOutputPreferencePage"
          id="ru.zencoding.eclipse.preferences.HAMLPreferencesPage"
          name="HAML"
          category="ru.zencoding.eclipse.preferences.OutputPreferencesPage">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="ru.zencoding.eclipse.preferences.PreferenceInitializer">
    </initializer>
 </extension>
 
 <extension point="org.eclipse.ui.editors.templates">
         <contextType
               class="ru.zencoding.eclipse.ZenCodingContextType"
               id="ru.zencoding.eclipse.templates.html"
               name="HTML"/>
         <contextType
               class="ru.zencoding.eclipse.ZenCodingContextType"
               id="ru.zencoding.eclipse.templates.css"
               name="CSS"/>
         <contextType
               class="ru.zencoding.eclipse.ZenCodingContextType"
               id="ru.zencoding.eclipse.variable"
               name="Variable"/>
               
         <template
            autoinsert="false"
            name="lang"
            description=""
            contextTypeId="ru.zencoding.eclipse.variable"
            id="ru.zencoding.eclipse.variable.lang">
			<pattern>en</pattern>
		</template>
        <template
            autoinsert="false"
            name="locale"
            description=""
            contextTypeId="ru.zencoding.eclipse.variable"
            id="ru.zencoding.eclipse.variable.locale">
			<pattern>en-US</pattern>
		</template>
        <template
            autoinsert="false"
            name="charset"
            description=""
            contextTypeId="ru.zencoding.eclipse.variable"
            id="ru.zencoding.eclipse.variable.charset">
			<pattern>UTF-8</pattern>
		</template>
    </extension>

</plugin>
